* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbffdc;
}
.box_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.box1 {
  width: 300px;
  height: 200px;
  background: rgb(20, 115, 64);
  background: linear-gradient(
    90deg,
    rgba(20, 115, 64, 1) 0%,
    rgba(37, 29, 161, 1) 0%,
    rgba(30, 66, 119, 1) 0%,
    rgba(28, 75, 109, 1) 0%,
    rgba(17, 132, 99, 1) 0%,
    rgba(31, 136, 208, 1) 100%,
    rgba(16, 135, 105, 1) 100%,
    rgba(13, 150, 134, 1) 100%,
    rgba(9, 168, 169, 1) 100%,
    rgba(6, 183, 198, 1) 100%,
    rgba(0, 27, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%,
    rgba(25, 87, 95, 1) 100%
  );
  border-radius: 15px 0 15px 0;
  color: #071952;
  border: 1px solid #1d5b79;
}
.box1 p {
  margin-top: 20px;
}
.box1 a {
  margin-top: 20px;
  text-decoration: none;
}

.box1:hover {
  background: rgb(20, 115, 64);
  background: linear-gradient(
    90deg,
    rgba(20, 115, 64, 1) 0%,
    rgba(30, 66, 119, 1) 0%,
    rgba(28, 75, 109, 1) 0%,
    rgba(17, 132, 99, 1) 0%,
    rgba(25, 87, 95, 1) 0%,
    rgba(34, 151, 152, 1) 0%,
    rgba(210, 217, 37, 1) 100%,
    rgba(37, 29, 161, 1) 100%,
    rgba(31, 136, 208, 1) 100%,
    rgba(16, 135, 105, 1) 100%,
    rgba(13, 150, 134, 1) 100%,
    rgba(9, 168, 169, 1) 100%,
    rgba(6, 183, 198, 1) 100%,
    rgba(0, 27, 255, 1) 100%
  );
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #001c30;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: normal;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #001c30;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: normal;
}
 

p:hover {
  font-weight: 700;
  color: antiquewhite;
}
a:hover {
  font-weight: 700;
  color: #B31312;

}
